<h1>Sri Hari| CMPE 285 | 014533571 </h1>
<h1>Hi, Welcome to Stock calculator App</h1>

<form action="result">
  Enter Stock Symbol: <input type="text" name="symbol" placeholder="Ex:FB" required><br></br>
  Enter Allotment : <input type="number" name="allotment" placeholder="No of Shares"required><br></br>
  Enter Final Share Price: <input type="number" name="final" placeholder="Dollars"required><br></br>
  Enter Sell Commision: <input type="number" name="scommission" placeholder="Dollars"required><br></br>
  Enter Intial share price: <input type="number" name="intial" placeholder="Dollars"required><br></br>
  Enter Buy Commision: <input type="number" name="bcommission" placeholder="Dollars"required><br></br>
  Enter Capital Gain rate: <input type="number" name="Gain" placeholder="Percentage"required><br></br>
   <input type="submit">
</form>    
