<h1>Hi, Welcome to Stock calculator App</h1>

<form action="result">
  Enter Stock Symbol: <input type="text" name="symbol" placeholder="Ex:FB"><br></br>
  Enter Allotment : <input type="text" name="allotment" placeholder="No of Shares"><br></br>
  Enter Final Share Price: <input type="text" name="final" placeholder="Dollars"><br></br>
  Enter Sell Commision: <input type="text" name="scommission" placeholder="Dollars"><br></br>
  Enter Intial share price: <input type="text" name="intial" placeholder="Dollars"><br></br>
  Enter Buy Commision: <input type="text" name="bcommission" placeholder="Dollars"><br></br>
  Enter Capital Gain rate: <input type="text" name="Gain" placeholder="Percentage"><br></br>
   <input type="submit">
</form>    
